
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(153,45,253,1) 100%);
    font-family: "Montserrat";
    color: #fff;
}

.header .title-header{
    color: #fff ;
    font-family: "Montserrat";
    font-size: 30px ;
}

a{
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main{
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.metade1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
}
.metade2{
    display: flex;
    justify-content: initial;
    align-items: center;
}

.title-metade img{
    width: 25%;
    margin-bottom: 20px;
}

.html, .css{
    border: 1px #ccc solid;
    padding: 50px;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: -13px 16px 9px -9px rgba(0,0,0,0.1);
}

.html{
    margin-right: 100px;
}

.css{
    margin-left: 100px;
}

footer{
    background-color: #22c1c3;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}